.booked-count--high {
  background-color: rgba(0, 255, 0, 0.54);
}

.booked-count--low {
  background-color: rgba(255, 0, 0, 0.54);
}

.filter-and-travels {
  display: flex;
}

.travels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 4vw;
  row-gap: 4vw;
  margin: 2%;
  width: 70vw;

  & * {
    justify-self: center;
    align-self: center;
  }
}

.booked-badge {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: scale(1.15);
  background: white;
  z-index: 1000;
  padding: 14px;

  & > nz-badge {
    transform: translateY(-1px);
  }
}
