<app-trip-creation [isAdmin]="isAdmin" (saved)="onTripSaved($event)"></app-trip-creation>

<div *ngIf="bookedTripsCount" class="booked-badge">
  <span>
    Booked:
  </span>
  <nz-badge nzStandalone [nzCount]="bookedTripsCount" [nzStyle]="{ backgroundColor: '#108ee9', color: 'white' }">
  </nz-badge>
</div>

<div class="filter-and-travels">
  <app-filter></app-filter>
  <div *ngIf="trips" class="travels">
    <div *ngFor="let trip of trips">
      <app-trip [isAdmin]="isAdmin" [isHighest]="trip.key === maxPriceKey" [isLowest]="trip.key ===minPriceKey"
        [trip]="trip" (rated)="onTripRated($event)" (removed)="onTripRemoved($event)"
        (reserved)="onTripReserved($event)" (unreserved)="onTripUnreserved($event)"></app-trip>
    </div>
  </div>
</div>
