<nz-slider [nzMarks]="marks" nzIncluded nzRange [ngModel]="[startMark, endMark]" [nzMin]="1" [nzMax]="10000">
</nz-slider>
<nz-date-picker [nzDisabledDate]="disabledStartDate" nzFormat="yyyy-MM-dd" [(ngModel)]="startDate" nzPlaceHolder="Start"
  (nzOnOpenChange)="handleStartOpenChange($event)"></nz-date-picker>
<nz-date-picker #endDatePicker [nzDisabledDate]="disabledEndDate" nzFormat="yyyy-MM-dd" [(ngModel)]="endDate"
  nzPlaceHolder="End" (nzOnOpenChange)="handleEndOpenChange($event)"></nz-date-picker>
<br />
<nz-rate [ngModel]="minimumRating" (ngModelChange)="setMinimumRating($event)"></nz-rate>
<br />
<nz-rate [ngModel]="maximumRating" (ngModelChange)="setMaximumRating($event)"></nz-rate>
<br />
<nz-input-group [nzPrefix]="prefixTemplateDestionation">
  <input nz-input type="text" placeholder="Destination" [(ngModel)]="destination" />
</nz-input-group>
<ng-template #prefixTemplateDestionation>
  <i nz-icon nzType="node-index" nzTheme="outline"></i>
</ng-template>
