.filter {
  display: flex;
  flex-direction: column;
  padding: 4.5vw 1vw 2vw 2vw;
  position: sticky;

  &-wrapper {
    top: 0;
    position: sticky;
  }

  & > * {
    margin: 4% 0;
  }

  & .price,
  & .date,
  & .rating {
    display: flex;
    justify-content: space-between;
  }

  & .price {
    display: flex;
    justify-content: space-between;
    margin: 0;

    & span {
      flex-grow: 1;
      height: 3em;
      line-height: 3em;
      white-space: nowrap;
    }

    & nz-slider {
      flex-grow: 20;
    }
  }

  & .date nz-date-picker {
    width: 48%;
  }

  & .rating {
    margin: 0;

    & span {
      padding-right: 10px;
      height: 3em;
      line-height: 3em;
      white-space: nowrap;

      &:last-of-type {
        margin-left: 1em;
      }
    }
  }
}
