<div *ngIf="trip">
  <nz-descriptions nzTitle="{{trip.name}}" nzBordered>
    <nz-descriptions-item [nzSpan]="2" nzTitle="Destination">{{trip.destination}}</nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="2" nzTitle="Price">{{trip.price}}$</nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="2" nzTitle="Description">{{trip.description}}</nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="2" nzTitle="Rating">
      <app-trip-rating [rating]="trip.rating"></app-trip-rating>
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="2" nzTitle="Start Date">
      <nz-date-picker nzBorderless nzFormat="yyyy-MM-dd" [(ngModel)]="trip.startDate"></nz-date-picker>
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="2" nzTitle="End Date">
      <nz-date-picker nzBorderless nzDisabled nzFormat="yyyy-MM-dd" [(ngModel)]="trip.endDate"></nz-date-picker>
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-carousel>
    <div nz-carousel-content *ngFor="let photoUrl of photosUrls">
      <img alt="{{trip.description}}" [src]="photoUrl" />
    </div>
  </nz-carousel>
  <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.authorId" [nzDatetime]="item.displayTime">
        <nz-comment-content>
          <p>{{ item.content }}</p>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
  </nz-list>
  <nz-comment>
    <nz-comment-content>
      <nz-form-item>
        <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
          Add Comment
        </button>
      </nz-form-item>
    </nz-comment-content>
  </nz-comment>
</div>
