<ng-container *ngIf="isHighest;else lowestPrice">
  <nz-ribbon nzText="Highest price" nzColor="green">
    <ng-container *ngTemplateOutlet="card"></ng-container>
  </nz-ribbon>
</ng-container>
<ng-template #lowestPrice>
  <ng-container *ngIf="isLowest;else card">
    <nz-ribbon nzText="Lowest price" nzColor="volcano">
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </nz-ribbon>
  </ng-container>
</ng-template>

<ng-template #card>
  <ng-container *ngIf="!isAdmin ;else cardAdmin">
    <nz-card class="card" [nzCover]="cover" [nzActions]="[reserve, undoReserve]">
      <nz-card-meta [nzDescription]="description" [nzTitle]="title"></nz-card-meta>
    </nz-card>
  </ng-container>
</ng-template>

<ng-template #cardAdmin>
  <nz-card class="card" [nzCover]="cover" [nzActions]="[reserve, undoReserve, remove]">
    <nz-card-meta [nzDescription]="description" [nzTitle]="title"></nz-card-meta>
  </nz-card>
</ng-template>

<ng-template #cover>
  <a routerLink="/detail/{{trip.id}}">
    <img style="  object-fit: cover;
      width: 100%;" alt="{{trip.description}}" [src]="trip.photoUrl" />
  </a>
</ng-template>
<ng-template #reserve>
  <i nz-icon nzType="plus" nzTheme="outline" (click)="onReserveButtonClicked()"></i>
</ng-template>
<ng-template #undoReserve>
  <i nz-icon nzType="minus" nzTheme="outline" (click)="onUndoReserveButtonClicked()"></i>
</ng-template>
<ng-template #remove>
  <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this?" (nzOnConfirm)="onRemoveButtonClicked()"
    [nzIcon]="iconRemove">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
  </a>
  <ng-template #iconRemove>
    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
  </ng-template>
</ng-template>
<ng-template #title>
  <span>
    {{trip.name | uppercase}}
  </span>
  <span>
    ({{trip.destination | uppercase}})
  </span>
</ng-template>
<ng-template #description>
  <div class="description">
    <div class="rating-and-price">
      <app-trip-rating class="rating" [rating]="trip.rating" (rated)="onTripRated($event)"></app-trip-rating>
      <span class="price">{{trip.price}}$</span>
    </div>
    <p>{{trip.startDateFormatted}} - {{trip.endDateFormatted}}</p>
    <p>{{trip.description}}</p>
    <div>
      <ng-template [ngIf]="!trip.isFull" [ngIfElse]="noVacancies">
        <strong>Booking status: </strong>{{trip.currentPeopleCount}}/{{trip.maxPeopleCount}}
        <ng-template [ngIf]="trip.lowAvailability">
          <span class="danger">(Last vacancies!)</span>
          <br>
        </ng-template>
      </ng-template>
      <ng-template #noVacancies>
        <strong>All sold</strong>
      </ng-template>
    </div>
  </div>
</ng-template>
