.rating-and-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating {
  margin-top: -2px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
  }

  & p:not(:first-of-type) {
    margin: 0;
  }
}

.danger {
  color: #a61d24;
  font-weight: 700;
}
