<button class="button-modal" nz-button nzType="primary" nzSize="large" nzShape="round" (click)="showModal()">
  <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
  Create
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="New trip creation" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSave()">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label nz-for="name">Name</nz-form-label>
      <input nz-input id="name" type="text" formControlName="name">
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="destination">Destination</nz-form-label>
      <input nz-input id="destination" type="text" formControlName="destination">
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="startDate">Start date</nz-form-label>
      <nz-date-picker formControlName="startDate" [(ngModel)]="startDate"></nz-date-picker>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="endDate">End date</nz-form-label>
      <nz-date-picker formControlName="endDate" [(ngModel)]="endDate"></nz-date-picker>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="maxPeopleCount">Max people count</nz-form-label>
      <nz-input-number formControlName="maxPeopleCount" [nzMin]="1" [nzStep]="1">
      </nz-input-number>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="description">Description</nz-form-label>
      <textarea rows="4" nz-input formControlName="description"></textarea>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="photoUrl">Photo URL</nz-form-label>
      <input nz-input id="photoUrl" type="url" formControlName="photoUrl" placeholder="{{urlPlaceholder}}">
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="price">Price in $</nz-form-label>
      <input nz-input id="price" type="number" formControlName="price">
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nz-for="price">Rating</nz-form-label>
      <app-trip-rating [rating]="rating" (rated)="setRating($event)"></app-trip-rating>
    </nz-form-item>
  </form>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleSave()">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      Save
    </button>
  </div>
</nz-modal>
