<ul *ngIf="isLoggedIn" class="navbar" nz-menu nzMode="horizontal">
  <!-- <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/auth">
      <i nz-icon nzType="user-switch" nzTheme="outline"></i>
      Authenticate
    </a>
  </li> -->
  <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">
      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      Travels
    </a>
  </li>
  <!-- <li nz-menu-item>
    <i nz-icon nzType="small-dash" nzTheme="outline"></i>
    Details
  </li> -->
  <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/cart">
      <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
      Shopping Cart
    </a>
  </li>
  <li class="float-right">
    <span>
      Hello {{userName}}
    </span>
    <nz-tag [nzColor]="'geekblue'">{{isAdmin ? 'admin': 'user'}}</nz-tag>
    <button nz-button nzType="text" (click)="signOut()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
      Sign out
    </button>
  </li>
</ul>

<div class="navbar-placeholder"></div>

<router-outlet></router-outlet>
