/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.button {
  margin: 5px;
  padding: 10px;
  min-width: 80px;
  min-height: 40px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;

  &:hover {
    cursor: pointer;
    background: rgb(226, 226, 226);
  }

  &.plus-sign::before {
    content: "\002B";
  }

  &.minus-sign::before {
    content: "\2212";
  }
}

[nz-form] {
  max-width: 600px;
}

.ant-ribbon-color-green,
.ant-ribbon-color-volcano,
.ant-ribbon-color-geekblue,
.ant-ribbon-color-magenta {
  color: white !important;
}
