/* You can add global styles to this file, and also import other style files */
.button {
  margin: 5px;
  padding: 10px;
  min-width: 80px;
  min-height: 40px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;

  &:hover {
    cursor: pointer;
    background: rgb(226, 226, 226);
  }

  &.plus-sign::before {
    content: "\002B";
  }

  &.minus-sign::before {
    content: "\2212";
  }
}
